/* Style button */

button {
    background-color: black;
    color: white;
    margin: 5px;
}

/* Input and Button border */

input,
button {
    border: 1px solid black;
    border-radius: 5px;
}

/* svg content */

.svg-content {
    display: block;
    height: 300px;
    border: 1px solid black;
}


/* changes the ﬁll of a shape to white on mouse hover. */

rect:hover,
circle:hover {
    fill: white;
}


/* The Error Dialog (background) */

#dialog {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* The Error Dialog Content/Box */

#dialogContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid #000000;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Error Dialog Header */

#dialog-header {
    padding: 2px 10px;
    background-color: #ffffff;
}


/* The Error Dialog Body */

#dialog-body {
    padding: 2px 10px;
}


/* The Error Dialog Footer */

#dialog-footer {
    padding: 2px 10px;
    background-color: #ffffff;
    color: white;
}