/* html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; bottom:0; left:0; right:0 }


body { background:#eee; margin:0 } */
/* svg {
  display:block; border:1px solid #ccc; position:absolute;
  top:5%; left:5%; width:90%; height:90%; background:#fff;
} */

.svg-container {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 200pt;
    top:20pt; 
    left:5%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: block;
    position: absolute;
    height: 200pt;
    top: 0;
    left: 0;
    border:1px solid #ccc;
}